Repository dejan-xd-organization/NistagramUtils, pull requests merged in 2021-08, with the labels that each got.

#4 Close #3
  Offline/Post/IPostServices.cs
  Offline/Post/Model/OfflinePost.cs
  Offline/Post/Model/OfflinePostComments.cs
  Offline/Post/Model/User.cs
  Offline/Post/Services/PostServicesImpl.cs
Labels: user story

#6 Close #5
  DTO/UserDTO.cs
  NistagramUtils.csproj
  Offline/Post/Model/OfflinePost.cs
  Offline/Post/Model/OfflinePostComments.cs
  Offline/Post/Model/User1.cs
Labels: user story

#7 Close #1
  Class1.cs
  DTO/Login/LoginDTO.cs
  DTO/Login/LoginResponseDTO.cs
  DTO/User/UserDTO.cs
  DTO/User/UserInformationDTO.cs
  JWT/JWTService.cs
  JWT/JWTToken.cs
  NistagramUtils.csproj
Labels: user story

#8 Revert "Close #1"
  Class1.cs
  DTO/Login/LoginDTO.cs
  DTO/Login/LoginResponseDTO.cs
  DTO/User/UserInformationDTO.cs
  DTO/UserDTO.cs
  JWT/JWTService.cs
  JWT/JWTToken.cs
  NistagramUtils.csproj
Labels: bug, duplicate

#9 Close #2
  DTO/Register/RegistrationDTO.cs
  NistagramUtils.csproj
Labels: user story

#10 (develop -> master) - End of Sprint 1
  .github/workflows/CI.yml
  .github/workflows/ci-cd.yml
  Class1.cs
  DTO/Login/LoginDTO.cs
  DTO/Login/LoginResponseDTO.cs
  DTO/Register/RegistrationDTO.cs
  DTO/User/UserDTO.cs
  DTO/User/UserInformationDTO.cs
  Dockerfile
  JWT/JWTService.cs
  JWT/JWTToken.cs
  NistagramUtils.csproj
  Offline/Post/IPostServices.cs
  Offline/Post/Model/OfflinePost.cs
  Offline/Post/Model/OfflinePostComments.cs
  Offline/Post/Model/User.cs
  Offline/Post/Services/PostServicesImpl.cs
Labels: user story, pull request, release

#18 find_all_users->develop Close #14
  DTO/User/UserDTO.cs
  Mapper/SimpleMapper.cs
  NistagramUtils.csproj
Labels: user story, pull request

#19 new_user->develop Close #15
  NistagramUtils.csproj
Labels: user story, pull request

#20 posts -> develop Close #13
  DTO/Register/RegistrationDTO.cs
  DTO/WallPost/WallPostDTO.cs
  Mapper/SimpleMapper.cs
  NistagramUtils.csproj
Labels: user story, pull request

#21 sonar_cloud -> develop Close #16
  DTO/Login/LoginDTO.cs
  DTO/Login/LoginResponseDTO.cs
  DTO/Register/RegistrationDTO.cs
  DTO/User/UserDTO.cs
  DTO/User/UserInformationDTO.cs
  DTO/WallPost/WallPostDTO.cs
  JWT/JWTService.cs
  JWT/JWTToken.cs
  Mapper/SimpleMapper.cs
  NistagramUtils.csproj
  Offline/Post/IPostServices.cs
  Offline/Post/Model/OfflinePost.cs
  Offline/Post/Model/OfflinePostComments.cs
  Offline/Post/Model/User.cs
  Offline/Post/Services/PostServicesImpl.cs
Labels: bug, documentation, pull request

#22 develop -> master Sprint 2 Release v1.0.1
  .github/workflows/CI.yml
  DTO/Login/LoginDTO.cs
  DTO/Login/LoginResponseDTO.cs
  DTO/Register/RegistrationDTO.cs
  DTO/User/UserDTO.cs
  DTO/User/UserInformationDTO.cs
  DTO/WallPost/WallPostDTO.cs
  JWT/JWTService.cs
  JWT/JWTToken.cs
  Mapper/SimpleMapper.cs
  NistagramUtils.csproj
  Offline/Post/IPostServices.cs
  Offline/Post/Model/OfflinePost.cs
  Offline/Post/Model/OfflinePostComments.cs
  Offline/Post/Model/User.cs
  Offline/Post/Services/PostServicesImpl.cs
Labels: bug, user story, pull request, release

#28 edit_user -> develop Close #26
  DTO/User/ChangePasswordDTO.cs
  DTO/User/UpdateUserDTO.cs
  DTO/User/UserDTO.cs
  Mapper/SimpleMapper.cs
  NistagramUtils.csproj
  Response/Response.cs
Labels: user story, pull request

#29 view_page -> develop Close #27
  DTO/WallPost/WallPostDTO.cs
  NistagramUtils.csproj
Labels: user story, pull request

#30 sonar_cloud -> develop Close #25
  JWT/JWTToken.cs
Labels: bug, documentation, pull request

#31 develop -> master Sprint 3 Release v1.0.2
  DTO/Follower/NewFollowerDTO.cs
  DTO/User/ChangePasswordDTO.cs
  DTO/User/UpdateUserDTO.cs
  DTO/User/UserDTO.cs
  DTO/User/UserOfflineJsonDTO.cs
  DTO/User/UserOnlineJsonDTO.cs
  DTO/WallPost/PostDTO.cs
  DTO/WallPost/ReactionDTO.cs
  DTO/WallPost/WallPostDTO.cs
  JWT/JWTService.cs
  JWT/JWTToken.cs
  Mapper/SimpleMapper.cs
  NistagramUtils.csproj
  Response/Response.cs
Labels: user story, pull request, release

#33 feature/chat -> develop Feature/chat
  DTO/Chat/SendMessageDTO.cs
  DTO/User/UserOfflineJsonDTO.cs
  NistagramUtils.csproj
Labels: user story
